table {
  width: 100%;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  border: solid #000000 1px;
}

#addressTbody, #orderTable {
  border: solid #000000 1px;
}

#addressTd {
  border-left: solid #000000 1px
}

.text-center {
  text-align: center;
}

td {
  border: 0;
  padding: 0px;
}

tfoot {
  border: solid #000000 1px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.hide {
  display: none;
}

@media print {
  .no-print, .no-print *{
      display: none !important;
  }

  .print-only{
    display: block;
  }

  .full-height-div {
    height: 100%;
  }
}