table {
  width: 80%;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

td {
  border: 0;
  padding: 0px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.hide {
  display: none;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }

    .print-only{
      display: block;
  }
}